.markdown {
  font-family: var(--secondary-font);
  font-size: .75em;
  line-height: 1.5;
  max-width: var(--content-width);
}

.markdown a {
  color: var(--text-color);
  border-bottom: 1px solid var(--link-color);
  cursor: pointer;
}

.markdown a:hover {
  color: var(--link-color-hover);
}

.markdown p, .markdown blockquote, .markdown dl, .markdown ol {
  margin: 0 0 1rem;
}

.markdown h2 {
  font-size: 1.75em;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-family: var(--primary-font);
}

.markdown h3 {
  font-size: 1.5em;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  font-family: var(--primary-font);
}

.markdown h4, .markdown h5, .markdown h6 {
  font-family: var(--primary-font);
}

.markdown img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

