
.markdown  {
  background-color: #fff;
}

.markdown a {
  color: var(--gray-dark);
  border-bottom: 1px solid var(--border-light);
}
.markdown a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.markdown p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.markdown h2 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.markdown h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.markdown img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markdown blockquote  {
  background: var(--gray-extra-light);
  border-left: 5px solid var(--primary-color);
  margin: var(--space) calc(var(--space)*0.5);
  padding: var(--space-sm) var(--space-sm);
  font-style:italic;
  font-size: 1.5rem;
}


.markdown blockquote p {
  display: inline;
}


.markdown pre  {
  overflow: auto;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
}


