{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        ["styled-components", {
          "ssr": false,
          "displayName": false
        }]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["styled-components", {
          "ssr": true,
          "displayName": false
        }]
      ]
    }
  }
}