$brand-colors: ('white', #ffffff, #1c1c1c), ('black', #1c1c1c, white),  
  ('light-brown', #e1d2af, #e1d2af), ('grey', #2e4052, #f9f9f9),  
  ('light-grey', #f9f9f9, #121212), ('blue', #35466d, #49aab7);  
@each $color in $brand-colors {  
  .is-#{nth($color,1)} {  
    color: nth($color, 2);  
  }  
body.dark-mode {  
    .is-#{nth($color,1)} {  
      color: nth($color, 3);  
    }  
  }  
}