#bling-1 {
    float: right;
    margin: 2rem auto auto 2rem;
    clear: both;
}

#adLabel {
    float: right;
    clear: both;
    text-transform: uppercase;
    color: #999;
    display: block;
    font-size: .5625em;
    letter-spacing: .1em;
    line-height: 1;
    margin-top: .625rem;
    
}

@media only screen and (max-width: 600px) {
    #bling-1 {
        float: none;
        margin: 0 2rem 0 2rem ;
    }
    #adLabel {
        float: none;
        margin: 0.5rem 0 0 2rem;
    }
}