.markdown {
  font-family: var(--secondary-font);
  max-width: var(--content-width);
  line-height: 1.65;
  word-break: break-word;
  hyphens: auto;
}

.markdown a {
  color: var(--text-color);
  border-bottom: 1px solid var(--link-color);
  cursor: pointer;
}

.markdown a:hover {
  color: var(--link-color-hover);
}

.markdown p, .markdown dl, .markdown ol, .markdown ul {
  padding-bottom: 26px;
}


.markdown ul, .markdown ol {
  padding-inline-start: 1.5rem;
  list-style: none; 
}

.markdown li {
  margin-bottom: 0.75rem;
}

.markdown li ul, .markdown li ol {
  margin-top: 0.75rem;
}

.markdown ul li::before, .markdown ol li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--gray); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
}

.markdown h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-family: var(--primary-font);
}

.markdown h3 {
  font-size: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: var(--primary-font);
}

.markdown h4, .markdown h5, .markdown h6 {
  font-family: var(--primary-font);
}

.markdown code {
  overflow: auto;
  font-size: 1rem;
}

.markdown blockquote {
  border-left: 2px solid var(--thirdy-color);
  padding: calc(var(--space-sm)*0.5) var(--space);
  margin-bottom: 28px;
  background: var(--gray-extra-light); 
  font-style: italic;
}

.markdown blockqoute > p {
  margin: 0;
}
