.markdown {
  font-family: var(--secondary-font);
  max-width: var(--content-width);
  line-height: 1.65;
  hyphens: auto;
  padding-bottom: var(--space-sm);
}

.markdown a {
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
}

.markdown a:hover {
  border-bottom: 1px solid var(--link-color);
}

.markdown p,
.markdown dl,
.markdown ol,
.markdown ul {
  margin-bottom: var(--space);
}

.markdown ul,
.markdown ol {
  padding-inline-start: var(--space-sm);
  list-style: none;
}

.markdown li {
  margin-bottom: 0.75rem;
}

.markdown li ul,
.markdown li ol {
  margin-top: 0.75rem;
}

.markdown ul li::before,
.markdown ol li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--secondary-color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
}

.markdown h2 {
  font-size: 2rem;
  margin-top: var(--space);
  margin-bottom: 1.5rem;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.markdown h3 {
  font-size: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.markdown code {
  overflow: auto;
  font-size: 1rem;
}

.markdown pre {
  overflow: auto;
  margin-bottom: var(--space);
}

.markdown blockquote {
  border-left: 2px solid var(--secondary-color);
  padding: var(--space-sm) var(--space);
  margin-bottom: var(--space);
  background: var(--content-bg);
  font-style: italic;
}

.markdown blockquote p {
  margin-bottom: 0;
}
