.markdown {
  font-family: var(--secondary-font);
  max-width: var(--content-width);
  line-height: 1.65;
  hyphens: auto;
  padding-bottom: var(--space-sm);
}

.markdown p {
  margin-bottom: var(--space-sm);
}

.markdown a {
  border-bottom: 1px dotted #bdc3c7;
  color: var(--secondary-color);
  cursor: pointer;
}

.markdown a:hover {
  border-bottom: 1px solid var(--link-color);
}

.markdown img {
  margin: var(--space) auto;
}

.markdown ol {
  padding-inline-start: 0;
  counter-reset: ol;
}

.markdown ul {
  margin-bottom: var(--space);
  padding-inline-start: var(--space-sm);
}

.markdown ul > li {
  margin: 0.5rem 0;
}

.markdown ol > li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  counter-increment: ol;
}

.markdown ol > li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.2rem !important;
  min-height: 2.2rem !important;
  content: counter(ol);
  color: var(--text-color);
  background-color: var(--content-bg);
  font-weight: 600;
  border-radius: 50%;
  margin-right: var(--space-sm);
}

.markdown h2 {
  color: var(--text-color);
  font-size: 2rem;
  margin-top: var(--space);
  margin-bottom: 1.5rem;
  font-family: var(--primary-font);
}

.markdown h3 {
  font-size: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: var(--primary-font);
}

.markdown h2 > a,
.markdown h3 > a,
.markdown h4 > a,
.markdown h5 > a,
.markdown h6 > a {
  color: var(--text-color);
  font-family: var(--primary-font);
  border-bottom: none;
}

.markdown code {
  overflow: auto;
  font-size: 1rem;
}

.markdown pre {
  overflow: auto;
  margin: var(--space) auto;
}

.markdown blockquote {
  border-left: 2px solid var(--secondary-color);
  padding: var(--space-sm) var(--space);
  margin-bottom: var(--space);
  background: var(--content-bg);
  font-style: italic;
}

.markdown blockquote p {
  margin-bottom: 0;
}
